#home {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    #home-sidebar-wrapper {
        display: flex;
        flex-direction: row;
        height: 100vh;

        @media screen and (max-width: 576px) {
            position: fixed;
            left: 0;
            top: 0;
            width: 100vw;

            display: none;
        }

        .home-sidebar-overlay {
            display: none;
        }
    }
    #home-sidebar-wrapper.home-sidebar-wrapper-show {
        @media screen and (max-width: 576px) {
            display: flex;
            flex-direction: row;
            z-index: 100;
        }
        .home-sidebar-overlay {
            display: flex;
            flex-grow: 10;
            background-color: rgba($color: #000000, $alpha: 0.5);
        }
    }

    .home-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}
